<!doctype html>
<html lang="en">
    {{> head}}
    <body class="bg-neutral-900 text-white font-sans">
        <div class="relative min-h-screen">
            {{> nav }}
            {{> articles }}
            {{> content }}
            {{> footer }}
        </div>
    </body>
</html>
