<div id="content" class="p-4 text-white flex m-auto flex-col">
    <div class="hidden justify-center items-center self-center w-52 p-2 border-white border-solid border-2 rounded-md" id="metadata">
        <p class="-mb-4">{{ author }}</p>
        <p class="-mb-4">{{ date }}</p>
        <p>views: {{ views }}</p>
    </div>
    <div class="flex flex-col pb-16 leading-8">
        {{{ content }}}
    </div>
</div>
